.head {
    background-color: #cfeaff;

    height: 50px;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 30% 40% 30%;
}

nav {
    grid-area: 2/7/2/10;
}

nav > a {
    padding: 10px;
}

.logo {
    grid-area: 2/2/2/3;
}

/*1*/
.blockFirst {
    background-color: #ffdee9;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.blockFirstHello {
    background-color: #ff9a7d;
    grid-area: 2/2/5/10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 300px 1fr;
    grid-template-rows: repeat(5, 60px);
}

.blockFirst h1 {
    grid-area: 2/2/5/5;
    background-color: #ffec74;
}

.blockFirst img {
    grid-area: 1/7/6/8;
    background-color: #98999b;
}

/*2*/
.blockTwo {
    background-color: #109a9b;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.skills {
    background-color: #ff9a7d;
    grid-area: 2/2/5/10;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 300px 1fr ;*/
    /*grid-template-rows: repeat(5, 60px);*/
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}

.skillsItem {
    background-color: #fff4b0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 100px;

}

.skill {
    background-color: #ffcf64;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: 30% 40% 200px;
}

.skill p{
    grid-area: 3/3/3/8;
}

.skill div{

    background-color: #9bb2df;
    grid-area: 1/1/3/11;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 50px 88px 50px;

}

.skill img {
    order: 1;
    background-color: #ffb3ba;
    grid-area: 1/2/1/5

}

.skill h3 {
    grid-area: 2/2/3/5;
}

/*3*/
.blockThree {
    background-color: #9b7534;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.works {
    grid-area: 2/2/5/10;
    background-color: #9b7a8c;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
}

.worksItems {
    background-color: #fff4b0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 100px;
}

.work {
    background-color: #b6a7ff;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.workImg {
    grid-area: 1/1/5/11;
    background-color: #ffe1e4;
}

.work button {
    order: 1;
    grid-area: 3/3/3/8;
}
